# Continue, For with Else, Nested Loop, While

In [4]:
# continue: loop iteration skip and pass control to next iteration
# pass: loop iteration skip and pass control to next code
# break: loop completely break and exit outside the loop

In [14]:
data = [23,54,55,435,67,54,576,78,9]

for i in  data:
    if i in [67,576]:
        continue
        print('Just checking')
        print(data)
        print(23456789*345678)
    else:
        print(f'Your ID {i} Payment Approved')

Your ID 23 Payment Approved
Your ID 54 Payment Approved
Your ID 55 Payment Approved
Your ID 435 Payment Approved
Your ID 54 Payment Approved
Your ID 78 Payment Approved
Your ID 9 Payment Approved

In [16]:
data = [23,54,55,435,67,54,576,78,9]

for i in  data:
    if i in [67,576]:
        pass
        print('Just checking')
        print(data)
        print(23456789*345678)
    else:
        print(f'Your ID {i} Payment Approved')

Your ID 23 Payment Approved
Your ID 54 Payment Approved
Your ID 55 Payment Approved
Your ID 435 Payment Approved
Just checking
[23, 54, 55, 435, 67, 54, 576, 78, 9]
8108495907942
Your ID 54 Payment Approved
Just checking
[23, 54, 55, 435, 67, 54, 576, 78, 9]
8108495907942
Your ID 78 Payment Approved
Your ID 9 Payment Approved

In [20]:
data = [23,54,55,420,67,54,576,410,9]

for i in  data:
    if i == 420:
        break
    else:
        print(f'Your ID {i} Payment Approved')

Your ID 23 Payment Approved
Your ID 54 Payment Approved
Your ID 55 Payment Approved

In [24]:
# Prime Number

In [26]:
# 2,3,5,7,11

In [5]:
for i in range(2,20):
    for j in range(2,i):
        if i % j == 0:
            print(f'{i} Not a Prime Number')
            break
    else:
        print(f'{i} Prime Number')

2 Prime Number
3 Prime Number
4 Not a Prime Number
5 Prime Number
6 Not a Prime Number
7 Prime Number
8 Not a Prime Number
9 Not a Prime Number
10 Not a Prime Number
11 Prime Number
12 Not a Prime Number
13 Prime Number
14 Not a Prime Number
15 Not a Prime Number
16 Not a Prime Number
17 Prime Number
18 Not a Prime Number
19 Prime Number

In [1]:
all_prime_number = []
max_range = int(input('Enter Max range to get Prime list: '))

for i in range(2,max_range):
    for j in range(2,i):
        if i % j == 0:
            # print(f'{i} Not a Prime Number')
            break
    else:
        all_prime_number.append(i)
        # print(f'{i} Prime Number')

print('\n'*2)
print('Prime Number list upto 200: ',all_prime_number)

Enter Max range to get Prime list:  5

Prime Number list upto 200:  [2, 3]

In [3]:
user_number = 45678611

for i in range(2,user_number):
    if user_number % i == 0:
        print('Not a prime Number')
        break

else:
    print('Yes it\'s a Prime Number')

Not a prime Number

# nested Loop

In [62]:
sales_id = [23,54,324,5,67,457,345,47]
new_sales_id = [34,54,6,34,656,78,6,45,5,6764,65,67]
common_id = []


for i in sales_id:
    for j in new_sales_id:
        if i == j:
            common_id.append(i)

print('Common ID list: ',common_id)

Common ID list:  [54, 5, 67]

In [66]:
sales_id = [23,54,324,5,67,457,345,47]
new_sales_id = [34,54,6,34,656,78,6,45,5,6764,65,67]
old_sales_id = [2,354,4,324,56,5,63,4,4567,46]
common = []


for i in sales_id:
    for j in new_sales_id:
        for k in old_sales_id:
            if i==j==k:
                common.append(i)

print('Common ID list: ',common)

Common ID list:  [5]

In [74]:
sales = [45,345,56,34,56,56,345,1,55,34,4534,5,35,34,534,45,67]
min_sales = sales[0]

for i in sales:
    if i < min_sales:
        min_sales = i
print('Min Sales: ',min_sales)

Min Sales:  1

In [79]:
sales = [45,345,56,34,56,56,345,1,55,34,4534,5,35,34,534,45,67]
max_sales = sales[0]

for i in sales:
    if i > max_sales:
        max_sales = i
print('Max Sales: ',max_sales)

Max Sales:  4534

# While Loop: Conditions

In [82]:
# while condition/conditions:
#     code block
#     if else: break

In [84]:
while False:
    print('Hello Dear')

In [7]:
counter = 1
while True:  # infinite loop
    print('Hello Dear', counter)
    counter += 1
    break

Hello Dear 1

In [ ]:
print('Hello')

In [ ]:
counter = 1
while True:  # infinite loop
    print('Hello Dear', counter)
    
    counter += 1