# Tuple and Dict

In [2]:
a = (23,54,578)

In [3]:
type(a)

tuple

In [6]:
len(a)

3

In [8]:
# 
a = (23,53,456,67,+0.7,[4,346,7],{'Name':'Mohan'},True)

In [10]:
print(a)

(23, 53, 456, 67, 0.7, [4, 346, 7], {'Name': 'Mohan'}, True)

In [12]:
# nested tuple

In [14]:
a = (12,34,6,(2,353,67,(2,356,78)))

In [16]:
# indexing and slicing

In [24]:
a[3][-1][-2] = 450

TypeError: 'tuple' object does not support item assignment

In [26]:
# reverse

In [28]:
a = (23,54,56,435,465,6,346)

In [30]:
a

(23, 54, 56, 435, 465, 6, 346)

In [32]:
a[::-1]

(346, 6, 465, 435, 56, 54, 23)

In [34]:
sum(a)

1385

In [36]:
min(a)

6

In [38]:
max(a)

465

In [40]:
a = (6,23,567)
b = (5,3246,7)

In [42]:
a + b

(6, 23, 567, 5, 3246, 7)

In [44]:
a - b

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [46]:
a

(6, 23, 567)

In [48]:
a * 3

(6, 23, 567, 6, 23, 567, 6, 23, 567)

In [50]:
# Methods 2

In [52]:
# a.count
# a.index

In [54]:
a = (2,354,65,32,5457)

In [56]:
a.index(32)

3

In [58]:
a = (35456,34,45,63,54,534,5,643,534,5,55,67)

In [60]:
a.count(534)

2

In [65]:
# Slicing

In [67]:
a[3:8]

(63, 54, 534, 5, 643)

In [69]:
a[a.index(63):a.index(643)+1]

(63, 54, 534, 5, 643)

# Dict, Key-Value, Hash, Mapping, map

In [74]:
# data = {'key':'value'}

In [76]:
data = {'Name':'Mohan','Age':34,'Class':12, 'Address':'Noida'}

In [78]:
print(data)

{'Name': 'Mohan', 'Age': 34, 'Class': 12, 'Address': 'Noida'}

In [80]:
# key: immutable: does not change
# value: all data type

In [106]:
data = {1:'Ajay',
       2.5:'Mohan',
       (214,35,6):'Komal',
       45-8j:'Lucky',
       False:False,
        'Harry':'Jai',
       frozenset((2,3456,4)):45,
       None:'456'}
print(data)

{1: 'Ajay', 2.5: 'Mohan', (214, 35, 6): 'Komal', (45-8j): 'Lucky', False: False, 'Harry': 'Jai', frozenset({3456, 2, 4}): 45, None: '456'}

In [90]:
data = {[23,43,67]:'Mohan'}

TypeError: unhashable type: 'list'

In [92]:
data = {{2,354,657}:'Mohan'}

TypeError: unhashable type: 'set'

In [94]:
data = {{'Name':'Ajay'}:'Mohan'}

TypeError: unhashable type: 'dict'

In [102]:
# value: all data type: infuture: all

In [100]:
data = {1:[235,456,7,8],
       2:(2,43,46,7),
       3:56.6,
       4:89-9j,
       5:True,
       6:{2,3,467},
       7:{'Name':'Mohan'},
       8:None,
       9:'Ajay',
       10:10,
       11:frozenset((2,34,46))}

print(data)

{1: [235, 456, 7, 8], 2: (2, 43, 46, 7), 3: 56.6, 4: (89-9j), 5: True, 6: {2, 3, 467}, 7: {'Name': 'Mohan'}, 8: None, 9: 'Ajay', 10: 10, 11: frozenset({2, 34, 46})}

In [109]:
# nested dic

In [115]:
data = {'One':{'one':1,"two":2}}

In [117]:
print(data)

{'One': {'one': 1, 'two': 2}}

In [119]:
data = {'Emp_name':['Ajay','Ravi','Mohan','Karan'],
       'Age':[34,45,43,32],
       'Salary':[456678,56543,567898,767659],
       'Address':['Noida']*4}

In [121]:
print(data)

{'Emp_name': ['Ajay', 'Ravi', 'Mohan', 'Karan'], 'Age': [34, 45, 43, 32], 'Salary': [456678, 56543, 567898, 767659], 'Address': ['Noida', 'Noida', 'Noida', 'Noida']}

In [123]:
import pandas as pd

In [127]:
table = pd.DataFrame(data)

In [129]:
table

  Emp_name  Age  Salary Address
0     Ajay   34  456678   Noida
1     Ravi   45   56543   Noida
2    Mohan   43  567898   Noida
3    Karan   32  767659   Noida

In [131]:
data

{'Emp_name': ['Ajay', 'Ravi', 'Mohan', 'Karan'],
 'Age': [34, 45, 43, 32],
 'Salary': [456678, 56543, 567898, 767659],
 'Address': ['Noida', 'Noida', 'Noida', 'Noida']}

In [133]:
# elements can be changed based on key

In [139]:
data['Emp_name'][2] = 'Mohan Kumar'

In [141]:
data

{'Emp_name': ['Ajay', 'Ravi', 'Mohan Kumar', 'Karan'],
 'Age': [34, 45, 43, 32],
 'Salary': [456678, 56543, 567898, 767659],
 'Address': ['Noida', 'Noida', 'Noida', 'Noida']}

In [145]:
data['Age'][2] = 45

In [147]:
data

{'Emp_name': ['Ajay', 'Ravi', 'Mohan Kumar', 'Karan'],
 'Age': [34, 45, 45, 32],
 'Salary': [456678, 56543, 567898, 767659],
 'Address': ['Noida', 'Noida', 'Noida', 'Noida']}

In [151]:
data['Address'][-1] = 'Greater Noida'

In [153]:
data

{'Emp_name': ['Ajay', 'Ravi', 'Mohan Kumar', 'Karan'],
 'Age': [34, 45, 45, 32],
 'Salary': [456678, 56543, 567898, 767659],
 'Address': ['Noida', 'Noida', 'Noida', 'Greater Noida']}

In [155]:
car_collections = {'Kia':456789,'Audi':567896}

In [157]:
car_collections

{'Kia': 456789, 'Audi': 567896}

In [159]:
car_collections['Maruti'] = 456789

In [161]:
car_collections

{'Kia': 456789, 'Audi': 567896, 'Maruti': 456789}

In [163]:
car_collections['Kia'] = 3456789

In [165]:
car_collections

{'Kia': 3456789, 'Audi': 567896, 'Maruti': 456789}

In [167]:
car_collections['Bmw'] = 34567890

In [169]:
car_collections

{'Kia': 3456789, 'Audi': 567896, 'Maruti': 456789, 'Bmw': 34567890}

In [179]:
car = {'kia':456789,'Audi':45678,'Maruti':567890,'kia':4567,'Maruti':6789,'Kia':765}

In [181]:
car

{'kia': 4567, 'Audi': 45678, 'Maruti': 6789, 'Kia': 765}

In [187]:
banks_quiz = {'Delhi':{'Banks':[{'SBI':[[1200],[1500]],"PNB":[[345],[567],[678]]}],"RBI_Bank":{"Locker1":[1234]}}}

In [189]:
banks_quiz

{'Delhi': {'Banks': [{'SBI': [[1200], [1500]], 'PNB': [[345], [567], [678]]}],
  'RBI_Bank': {'Locker1': [1234]}}}

In [203]:
banks_quiz['Delhi']['Banks'][0]['PNB'][-1][0] = 0

In [205]:
banks_quiz

{'Delhi': {'Banks': [{'SBI': [[1200], [1500]], 'PNB': [[345], [567], [0]]}],
  'RBI_Bank': {'Locker1': [1234]}}}

In [213]:
ans = banks_quiz['Delhi']['RBI_Bank']["Locker1"][0]

In [223]:
banks_quiz['Delhi']['Banks'][0]['SBI'].append([ans])

In [225]:
banks_quiz

{'Delhi': {'Banks': [{'SBI': [[1200], [1500], [1234]],
    'PNB': [[345], [567], [0]]}],
  'RBI_Bank': {'Locker1': [1234]}}}

In [228]:
car_collections

{'Kia': 3456789, 'Audi': 567896, 'Maruti': 456789, 'Bmw': 34567890}

In [230]:
len(car_collections)

4

In [232]:
list(car_collections)

['Kia', 'Audi', 'Maruti', 'Bmw']

In [234]:
car_collections

{'Kia': 3456789, 'Audi': 567896, 'Maruti': 456789, 'Bmw': 34567890}

In [236]:
a = {'Name':'Mohan'}
b = {'class':23}

In [238]:
a + b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [240]:
a*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [242]:
car_collections

{'Kia': 3456789, 'Audi': 567896, 'Maruti': 456789, 'Bmw': 34567890}

In [244]:
car_collections.clear()

In [246]:
car_collections

{}

In [248]:
empty = {}
print(empty)

{}

In [250]:
type(empty)

dict

In [252]:
# tuple

In [254]:
a = (45)
print(a,type(a))

45 <class 'int'>

In [256]:
a = (45,)
print(a,type(a))

(45,) <class 'tuple'>

In [258]:
empty = {,}

print(empty,type(empty))

SyntaxError: invalid syntax (1271987208.py, line 1)

In [260]:
a = set()

In [262]:
print(type(a))

<class 'set'>

In [264]:
a

set()

In [266]:
a = {'Ajay':500}
b = a

In [268]:
b

{'Ajay': 500}

In [272]:
b['Ajay'] = 700

In [274]:
b

{'Ajay': 700}

In [276]:
a

{'Ajay': 700}

In [278]:
a = {'Ajay':500}
b = a.copy()

In [280]:
a['Ajay']  =1000

In [282]:
a

{'Ajay': 1000}

In [284]:
b

{'Ajay': 500}

In [286]:
data = ['Aman','Ravi','Mohan','Jatin']

In [288]:
empty = {}

In [292]:
a = empty.fromkeys(data)

In [296]:
a['Jatin'] = 500

In [298]:
a

{'Aman': None, 'Ravi': None, 'Mohan': None, 'Jatin': 500}

In [300]:
a

{'Aman': None, 'Ravi': None, 'Mohan': None, 'Jatin': 500}

In [302]:
car

{'kia': 4567, 'Audi': 45678, 'Maruti': 6789, 'Kia': 765}

In [304]:
car['Maruti']

6789

In [306]:
car['Maruti'] = 8

In [308]:
car

{'kia': 4567, 'Audi': 45678, 'Maruti': 8, 'Kia': 765}

In [310]:
car.get('Kia')

765

In [312]:
car.get('Kia') = 567

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1613184576.py, line 1)

In [314]:
car

{'kia': 4567, 'Audi': 45678, 'Maruti': 8, 'Kia': 765}

In [316]:
car.keys()

dict_keys(['kia', 'Audi', 'Maruti', 'Kia'])

In [320]:
car.values()

dict_values([4567, 45678, 8, 765])

In [322]:
car.items()

dict_items([('kia', 4567), ('Audi', 45678), ('Maruti', 8), ('Kia', 765)])

In [324]:
list(car)

['kia', 'Audi', 'Maruti', 'Kia']

In [328]:
tuple(car)

('kia', 'Audi', 'Maruti', 'Kia')

In [330]:
car

{'kia': 4567, 'Audi': 45678, 'Maruti': 8, 'Kia': 765}

In [334]:
car.pop('Maruti')

8

In [336]:
car

{'kia': 4567, 'Audi': 45678, 'Kia': 765}

In [340]:
del car['Audi']

In [342]:
car

{'kia': 4567, 'Kia': 765}

In [346]:
car.popitem()

('Kia', 765)

In [348]:
car

{'kia': 4567}

In [350]:
a

{'Aman': None, 'Ravi': None, 'Mohan': None, 'Jatin': 500}

In [352]:
a.popitem()

('Jatin', 500)

In [354]:
a

{'Aman': None, 'Ravi': None, 'Mohan': None}

In [358]:
a.update({'Aman':450})

In [360]:
a

{'Aman': 450, 'Ravi': None, 'Mohan': None}

In [362]:
a['Ravi'] = 560

In [364]:
a

{'Aman': 450, 'Ravi': 560, 'Mohan': None}

In [366]:
a.update({'Aman': 100, 'Ravi': 200, 'Mohan': 300})

In [368]:
a

{'Aman': 100, 'Ravi': 200, 'Mohan': 300}

In [372]:
a.update({'Jatin':550})

In [374]:
a

{'Aman': 100, 'Ravi': 200, 'Mohan': 300, 'Jatin': 550}

In [376]:
a.update({'Jatin':250})

In [378]:
a

{'Aman': 100, 'Ravi': 200, 'Mohan': 300, 'Jatin': 250}

In [386]:
a.setdefault(('Jatin',900))

In [388]:
a

{'Aman': 100, 'Ravi': 200, 'Mohan': 300, 'Jatin': 250, ('Jatin', 900): None}

In [390]:
a.setdefault('Mohan',500)

300

In [392]:
a

{'Aman': 100, 'Ravi': 200, 'Mohan': 300, 'Jatin': 250, ('Jatin', 900): None}

In [394]:
a.setdefault('lucky',550)

550

In [396]:
a

{'Aman': 100,
 'Ravi': 200,
 'Mohan': 300,
 'Jatin': 250,
 ('Jatin', 900): None,
 'lucky': 550}

In [398]:
a.values()

dict_values([100, 200, 300, 250, None, 550])