# For Loop, While Loop

In [2]:
# for i in collection_data_type:
#     code block

In [4]:
# allowed: str, list, tuple, set, dict, frozenset, any collection
# not allowed: int, float, complex, True, None

# String with For loop

In [13]:
import time
for i in 'Harry':
    print(i.upper())
    time.sleep(1)

H
A
R
R
Y

In [15]:
import time
for i in 'Harry':
    print(i.upper(),end = '')
    time.sleep(1)

HARRY

In [17]:
p = '''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?

In the dark blue sky you keep,
Often through my curtains peep
For you never shut your eye,
Till the sun is in the sky.

As your bright and tiny spark
Lights the traveler in the dark,
Though I know not what you are,
Twinkle, twinkle, little star.'''

In [27]:
for i in p:
    print(i.upper(),end = '')
    time.sleep(0.005)

TWINKLE, TWINKLE, LITTLE STAR,
HOW I WONDER WHAT YOU ARE!
UP ABOVE THE WORLD SO HIGH,
LIKE A DIAMOND IN THE SKY.

WHEN THE BLAZING SUN IS GONE,
WHEN HE NOTHING SHINES UPON,
THEN YOU SHOW YOUR LITTLE LIGHT,
TWINKLE, TWINKLE, ALL THE NIGHT.

THEN THE TRAVELER IN THE DARK
THANKS YOU FOR YOUR TINY SPARK,
HOW COULD HE SEE WHERE TO GO,
IF YOU DID NOT TWINKLE SO?

IN THE DARK BLUE SKY YOU KEEP,
OFTEN THROUGH MY CURTAINS PEEP
FOR YOU NEVER SHUT YOUR EYE,
TILL THE SUN IS IN THE SKY.

AS YOUR BRIGHT AND TINY SPARK
LIGHTS THE TRAVELER IN THE DARK,
THOUGH I KNOW NOT WHAT YOU ARE,
TWINKLE, TWINKLE, LITTLE STAR.

# Loop With List

In [34]:
data = [356,346,3,456,34,56,5436,4,64,5,63,467,45,63,5,6,567,45,6785]
even = []
odd = []

for i in  data:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print('Even List: ',even)
print('Odd List: ',odd)

Even List:  [356, 346, 456, 34, 56, 5436, 4, 64, 6]
Odd List:  [3, 5, 63, 467, 45, 63, 5, 567, 45, 6785]

In [44]:
companies = ['ola','uber','kia','rapido','metro','BLinKIT','adani','tcs']
vowels = []
consonants = []

for i in companies:
    if i[0].lower() in 'aeiou':
        vowels.append('#'+i.upper())
    else:
        consonants.append('@'+i.lower())
print('Vowels List',vowels)
print('Consonants List',consonants)

Vowels List ['#OLA', '#UBER', '#ADANI']
Consonants List ['@kia', '@rapido', '@metro', '@blinkit', '@tcs']

# Emp DataBase Design

In [56]:
records = int(input('Enter How many records you wants to Insert'))

data = {'Name':[], 'Age':[], 'Salary':[], 'Dept':[],'Address': [], 'Designation':[]}

for i in range(records):
    name = input('Enter your name: ')
    age = input('Enter your Age: ')
    salary = input('Enter your Salary: ')
    dept = input('Enter your Department: ')
    address = input('Enter Your Address: ')
    designation = input('Enter your Designation: ')

    data['Name'].append(name)
    data['Age'].append(age)
    data['Salary'].append(salary)
    data['Dept'].append(dept)
    data['Address'].append(address)
    data['Designation'].append(designation)

    print(f'{name} your records has been inserted Successfully!!')
    print('-------------------------------------------\n')

import pandas as pd
table = pd.DataFrame(data)
table

Enter How many records you wants to Insert 2
Enter your name:  Naman
Enter your Age:  23
Enter your Salary:  45000
Enter your Department:  IT
Enter Your Address:  Noida
Enter your Designation:  Data Analyst

Naman your records has been inserted Successfully!!
-------------------------------------------

Enter your name:  Jatin
Enter your Age:  34
Enter your Salary:  56789
Enter your Department:  HR
Enter Your Address:  Gr Noida
Enter your Designation:  HR Manager

Jatin your records has been inserted Successfully!!
-------------------------------------------

    Name Age Salary Dept   Address   Designation
0  Naman  23  45000   IT     Noida  Data Analyst
1  Jatin  34  56789   HR  Gr Noida    HR Manager

In [58]:
table

    Name Age Salary Dept   Address   Designation
0  Naman  23  45000   IT     Noida  Data Analyst
1  Jatin  34  56789   HR  Gr Noida    HR Manager

In [60]:
table.to_excel('Emp_records.xlsx')
print('Done')

Done

# Number Guess Game

In [70]:
##### import random

print('Welcome to KB Number Guess Game')
print('\n\n')
attempts = 10
entry_fees = 100
company_collection = 0
user_collection = attempts * entry_fees

for i in range(attempts):
    user_collection -= entry_fees
    company_collection += entry_fees
    
    comp = random.randint(1,10)
    user = int(input(f'Attempt: {i+1} Guess a Number (1-10): '))

    print(f'''
    computer choice: {comp}
    User Choice: {user}''')
    
    if user == comp:
        print('You Won Rs 200🌟🎇',end = '\n'*2)
        user_collection += entry_fees * 2
        company_collection -= entry_fees * 2
    else:
        print('😥😥Better Luck Next Time😥😥: ',end = '\n'*2)

Welcome to KB Number Guess Game

Attempt: 1 Guess a Number (1-10):  7

    computer choice: 7
    User Choice: 7
You Won Rs 200🌟🎇

Attempt: 2 Guess a Number (1-10):  9

    computer choice: 7
    User Choice: 9
😥😥Better Luck Next Time😥😥:

Attempt: 3 Guess a Number (1-10):  3

    computer choice: 8
    User Choice: 3
😥😥Better Luck Next Time😥😥:

Attempt: 4 Guess a Number (1-10):  5

    computer choice: 4
    User Choice: 5
😥😥Better Luck Next Time😥😥:

Attempt: 5 Guess a Number (1-10):  7

    computer choice: 5
    User Choice: 7
😥😥Better Luck Next Time😥😥:

Attempt: 6 Guess a Number (1-10):  9

    computer choice: 2
    User Choice: 9
😥😥Better Luck Next Time😥😥:

Attempt: 7 Guess a Number (1-10):  1

    computer choice: 2
    User Choice: 1
😥😥Better Luck Next Time😥😥:

Attempt: 8 Guess a Number (1-10):  2

    computer choice: 6
    User Choice: 2
😥😥Better Luck Next Time😥😥:

Attempt: 9 Guess a Number (1-10):  4

    computer choice: 9
    User Choice: 4
😥😥Better Luck Next Time😥😥:

Attempt: 10 Guess a Number (1-10):  8

    computer choice: 6
    User Choice: 8
😥😥Better Luck Next Time😥😥:

In [72]:
print('Company collection: ',company_collection)
print('User Collection: ',user_collection)

Company collection:  800
User Collection:  200

In [74]:
# 900
# 800 + 200
# 900
# 800
# 700
# 600
# 500
# 400
# 300
# 200

# Password Generator

In [138]:
import string
import random
all_possible_char = string.ascii_letters + string.digits + string.punctuation
passowrd_length = 20
password = ''

for i in range(passowrd_length):
    password += random.choice(all_possible_char)

print('Suggested Password is: ',password)

Suggested Password is:  y<BBhhZmEp*1egdh4C64

In [120]:
len(all_possible_char)

94

In [ ]:
import string
import random
all_possible_char = string.ascii_letters + string.digits + string.punctuation
passowrd_length = 10
password = ''

for i in range(passowrd_length):
    password += random.choice(all_possible_char)

print('Suggested Password is: ','vinay@'+password)