# Pattern Print

In [2]:
# Triangle>> Left,Middle, Right
# Alpha and Digits Triangle>>

In [6]:
# *      
# * *
# * * *  
# * * * *

In [ ]:
#       *  Space: 6    
#     * *  Space: 4
#   * * *  Space: 2
# * * * *  Space: 0

In [32]:
# Right Triangle Pattern

char = '* '
n = 8
for i in range(1, n+1):
    print('  '*(n-i) + char*i)

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *
* * * * * * * *

In [34]:
# Mid Triangle Pyramid

char = '* '
n = 8
for i in range(1, n+1):
    print(' '*(n-i) + char*i)

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

In [38]:
# Left Triangle Pyramid

char = '* '
n = 4
for i in range(1, n+1):
    print(''*(n-i) + char*i)

*
* *
* * *
* * * *

In [70]:
# Any Triangle Pyramid

char = 'x '
n = 4
for i in range(1, n+1):
    print('  '*(n-i) + char*i)

      x
    x x
  x x x
x x x x

In [74]:
# Any Triangle Pyramid

char = 'A '
n = 4
for i in range(1, n+1):
    print(''*(n-i) + char*i)

A
A A
A A A
A A A A

In [76]:
*      * *    * * *  * * * *

In [104]:
char = '*'
n = 4
for i in range(1,n+1):
    for j in range(i):
        print(f'*', end = ' ')
        
    print()

*
* *
* * *
* * * *

In [120]:
char = '*'
n = 4
for i in range(1,n+1):
    for j in range(i):
        print(f'*', end = ' ')
    print()

*
* *
* * *
* * * *

In [259]:
char = '*'
n = 6
# Loop Run with value of n
for i in range(1,n+1):
    # Spaces Print
    for j in range(n-i):
        print(' ', end = ' ')    
    # Star print
    for k in range(1,i+1):
        print('*', end = ' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [275]:
char = '*'
n = 6
# Loop Run with value of n
for i in range(1,n+1):
    # Spaces Print
    for j in range(n-i):
        print(' ', end = ' ')    
    # Star print
    for k in range(1,i+1):
        print(chr(k+64), end = ' ')
    print()

          A
        A B
      A B C
    A B C D
  A B C D E
A B C D E F

In [273]:
chr(66)

'B'

In [269]:
ord('A')

65

In [277]:
char = '*'
n = 6
# Loop Run with value of n
for i in range(1,n+1):
    # Spaces Print
    for j in range(n-i):
        print('', end = ' ')    
    # Star print
    for k in range(1,i+1):
        print(chr(k+64), end = ' ')
    print()

     A
    A B
   A B C
  A B C D
 A B C D E
A B C D E F

In [287]:
char = '*'
n = 4
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(j+64), end = ' ')
    print()

A
A B
A B C
A B C D

In [289]:
char = '*'
n = 10
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(j+64), end = ' ')
    print()

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J

In [293]:
char = '*'
n = 5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(chr(j+64), end = ' ')
    print()

A B C D E
A B C D
A B C
A B
A

In [295]:
char = '*'
n = 5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j, end = ' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [299]:
char = '*'
n = 5

# Forward
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(j+64), end = ' ')
    print()

# Reverse
for i in range(n-1,0,-1):
    for j in range(1,i+1):
        print(chr(j+64), end = ' ')
    print()

A
A B
A B C
A B C D
A B C D E
A B C D
A B C
A B
A

In [301]:
char = '*'
n = 6

# Forward
# Loop Run with value of n
for i in range(1,n+1):
    # Spaces Print
    for j in range(n-i):
        print('', end = ' ')    
    # Star print
    for k in range(1,i+1):
        print(chr(k+64), end = ' ')
    print()

for i in range(n-1,0,-1):
    # Spaces Print
    for j in range(n-i):
        print('', end = ' ')    
    # Star print
    for k in range(1,i+1):
        print(chr(k+64), end = ' ')
    print()

     A
    A B
   A B C
  A B C D
 A B C D E
A B C D E F
 A B C D E
  A B C D
   A B C
    A B
     A

In [303]:
char = '*'
n = 6

# Forward
# Loop Run with value of n
for i in range(1,n+1):
    # Spaces Print
    for j in range(n-i):
        print('', end = ' ')    
    # Star print
    for k in range(1,i+1):
        print(k, end = ' ')
    print()

for i in range(n-1,0,-1):
    # Spaces Print
    for j in range(n-i):
        print('', end = ' ')    
    # Star print
    for k in range(1,i+1):
        print(k, end = ' ')
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1